body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3E5F5;  /* Background color */
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;  /* Center align the content inside the container */
}

header {
    background-color: #ffffff;  /* Change header background to white */
    color: #333;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);  /* Add subtle shadow to the header */
}

header .logo {
    height: 150px;  /* Increase logo size */
    margin-bottom: 10px;  /* Add space below the logo */
}

header h1 {
    margin: 10px 0 0;  /* Adjust margin to give space above and below the heading */
    color: #333;  /* Change text color to match overall color scheme */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;  /* Add margin above the navigation */
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #333;  /* Change navigation link color */
    text-decoration: none;
}

.hero, .news, .behind-scenes, .artists, .featured-songs {
    background-color: #7e4e86;  /* Item background color */
    padding: 20px 0;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #fff;  /* Ensure text is readable on the purple background */
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.movies, .news-articles, .scenes, .artists-list, .songs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie, .news-article, .scene, .artist, .song {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}

.movie img, .scene img, .artist img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
